# ==========================================
# PYTHON
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# ==========================================
# DATA FILES
# ==========================================

# Ignore processed/generated data
.avif

# Ignore compressed large files
*.zip
*.rar
*.7z
*.parquet

# Database files
*.db
*.sqlite3

# ==========================================
# EXCEL FILES
# ==========================================

# Excel temporary files
~$*.xlsx
~$*.xlsm
~$*.xls
~$*.csv

# ==========================================
# POWER BI
# ==========================================

*.pbix.autosave

# ==========================================
# TABLEAU
# ==========================================

*.twb~
*.temp

# ==========================================
# LOG FILES
# ==========================================

*.log

# ==========================================
# IDE / EDITOR
# ==========================================

.vscode/6`6+-=5
.idea/

# ==========================================
# OPERATING SYSTEM FILES
# ==========================================

.DS_Store
Thumbs.db
desktop.ini
Desktop.ini

# ==========================================
# BUILD / CACHE
# ==========================================

.cache/
dist/
build/

# ==========================================
# SECRETS / CONFIG
# ==========================================

config_local.py
secrets.json